<style>
body
{background-color:blue; font-family:verdana; color:white; background-repeat:repeat; background-position:center;}

ul
{list-style-type:square; list-style-images:none; list-style-position:none;}


h1
{color:black;}

l
{color:green;}

p
{font-family:times new roman; text-size:20px; text-align:center;}

b
{color:red;}
u
{color:yellow;}


border
{border-style-type:double; border-bottom-type:groove;}

</style>
